name: Update Dashboard Data

on:
  schedule:
    - cron: '0 6 * * 1' # Se lance tous les lundis à 6h du matin UTC
  workflow_dispatch: # Permet de lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Donne le droit au robot d'écrire le fichier json

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests # Seules deux libs sont nécessaires pour cette version

      - name: Run Scraper
        run: python update_data.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add data.json
          git commit -m "Auto-update data.json from API" || exit 0
          git push
