name: Data Scraping & Audit

on:
  schedule:
    - cron: '0 6 * * 1' # Tous les lundis 6h
  workflow_dispatch: # Bouton manuel

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 pandas

      - name: Run Scraper & Audit
        run: python update_data.py

      - name: Save Data
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Data Audit Update"
          file_pattern: data.json
